<%= render 'layouts/header'%>
<%= render 'layouts/carousel'%>
<%= render 'layouts/services'%>
    
<%= render 'layouts/whyus'%>

<%= render 'layouts/reviews'%>   
<%= render 'layouts/aboutus'%>
    
<%= render 'layouts/projects'%>
    
    
<%= render 'layouts/faqs'%>
    <section id="contact" class="contact-section text-center">
        <div class="container">
            <h2 class="section-title">Contact Us</h2>
            <div class="contact-intro">
                <p> Please get in touch and send us details of what you need us to do for you. We shall get back to you asap !</p>
            </div>
            <ul class="contact-info-list list-inline">
                <li class="item">
                    <span class="custom-icon icon-telephone_signal"></span>
                    <span class="info"><a href="#">+25677333893</a></span>
                </li>
                <li class="item">
                    <span class="custom-icon icon-email"></span>
                    <span class="info"><a href="#">info@brandfield.agency</a></span>
                </li>    
            </ul>

        </div><!--//container-->
    </section><!--//contact-->
    
    <%=render 'layouts/footer'%>

    <!-- Project Modal 1 -->
    <div id="project-modal-1" class="project-modal modal modal-fullscreen" tabindex="-1" role="dialog" aria-labelledby="projectModal1Label">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title text-center" id="projectModal1Label">Kitchen Extension</h4>
                </div><!--//modal-header-->
                <div class="modal-body">
                    <div class="content">
                        <div class="row">
                            <figure class="figure col-xs-12 col-md-5">
                                <img class="img-responsive" src="/assets/latest-1.jpg" alt="" />
                            </figure><!--//figure-->
                            <div class="details col-xs-12 col-md-7">
                                <p>Describe your project here. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.</p>
                                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Describe your project here. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.</p>
                                
                            </div><!--//details-->
                        </div><!--//row-->
                        
                        <div class="review text-center">
                            <blockquote class="quote">
                                <i class="fa fa-quote-left" aria-hidden="true"></i>
                                <p>A thoroughly professional job lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.Phasellus viverra nulla ut metus varius laoreet.</p>
                            </blockquote>
                            <div class="rating">
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                            </div><!--//rating-->
                            <div class="source">
                                <img class="customer-profile" src="/assets/customer-3.png" alt="">
                                <div class="customer-meta">Sara, Bristol - via <a href="#">homeadvisor.com</a></div>
                            </div><!--//source-->
                        </div><!--//review-->
                    
                    </div>
                </div><!--//modal-body-->
            </div><!--//modal-content-->
        </div>
    </div><!--//modal-->
    
    <!-- Project Modal 2 -->
    <div id="project-modal-2" class="project-modal modal modal-fullscreen" tabindex="-1" role="dialog" aria-labelledby="projectModal2Label">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title text-center" id="projectModal2Label">Loft Conversion</h4>
                </div><!--//modal-header-->
                <div class="modal-body">
                    <div class="content">
                        <div class="row">
                            <figure class="figure col-xs-12 col-md-5">
                                <img class="img-responsive" src="/assets/latest-2.jpg" alt="" />
                            </figure><!--//figure-->
                            <div class="details col-xs-12 col-md-7">
                                <p>Describe your project here. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.</p>
                                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Describe your project here. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra nulla ut metus varius laoreet. Quisque rutrum. Aenean imperdiet. Etiam ultricies nisi vel augue.</p>
                                
                            </div><!--//details-->
                        </div><!--//row-->
                        
                        <div class="review text-center">
                            <blockquote class="quote">
                                <i class="fa fa-quote-left" aria-hidden="true"></i>
                                <p>A thoroughly professional job lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.Phasellus viverra nulla ut metus varius laoreet.</p>
                            </blockquote>
                            <div class="rating">
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                            </div><!--//rating-->
                            <div class="source">
                                <img class="customer-profile" src="/assets/customer-4.png" alt="">
                                <div class="customer-meta">Dan, Bristol - via <a href="#">homeadvisor.com</a></div>
                            </div><!--//source-->
                        </div><!--//review-->
                    </div>
                </div><!--//modal-body-->
            </div><!--//modal-content-->
        </div>
    </div><!--//modal-->
    
    <!-- Project Modal 3 -->
    <div id="project-modal-3" class="project-modal modal modal-fullscreen" tabindex="-1" role="dialog" aria-labelledby="projectModal3Label">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title text-center" id="projectModal3Label">Bathroom Installation</h4>
                </div><!--//modal-header-->
                <div class="modal-body">
                    <div class="content">
                        <div class="row">
                            <figure class="figure col-xs-12 col-md-5">
                                <img class="img-responsive" src="/assets/latest-3.jpg" alt="" />
                            </figure><!--//figure-->
                            <div class="details col-xs-12 col-md-7">
                                <p>Describe your project here. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.</p>
                                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Describe your project here. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Maecenas nec odio et ante tincidunt tempus. Donec vitae sapien ut libero venenatis faucibus. Nullam quis ante. Etiam sit amet orci eget eros faucibus tincidunt. Duis leo. Sed fringilla mauris sit amet nibh. Donec sodales sagittis magna. Sed consequat, leo eget bibendum sodales, augue velit cursus nunc.</p>
                                
                            </div><!--//details-->
                        </div><!--//row-->
                        
                        <div class="review text-center">
                            <blockquote class="quote">
                                <i class="fa fa-quote-left" aria-hidden="true"></i>
                                <p>A thoroughly professional job lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.Phasellus viverra nulla ut metus varius laoreet.</p>
                            </blockquote>
                            <div class="rating">
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                            </div><!--//rating-->
                            <div class="source">
                                <img class="customer-profile" src="/assets/customer-2.png" alt="">
                                <div class="customer-meta">Kate, Bristol - via <a href="#">homeadvisor.com</a></div>
                            </div><!--//source-->
                        </div><!--//review-->
                        
                    </div>
                </div><!--//modal-body-->
            </div><!--//modal-content-->
        </div>
    </div><!--//modal-->
    
    
    <!-- The Bootstrap Image Gallery lightbox -->
    <div id="blueimp-gallery" class="blueimp-gallery" data-use-bootstrap-modal="false">
        <!-- The container for the modal slides -->
        <div class="slides"></div>
        <!-- Controls for the borderless lightbox -->
        <h3 class="title"></h3>
        <a class="prev">‹</a>
        <a class="next">›</a>
        <a class="close">×</a>
        <a class="play-pause"></a>
        <ol class="indicator"></ol>
        <!-- The modal dialog, which will be used to wrap the lightbox content -->
        <div class="modal fade" tabindex="-1" >
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" aria-hidden="true">&times;</button>
                        <h4 class="modal-title"></h4>
                    </div>
                    <div class="modal-body next"></div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default pull-left prev">
                            <i class="glyphicon glyphicon-chevron-left"></i>
                            Previous
                        </button>
                        <button type="button" class="btn btn-primary next">
                            Next
                            <i class="glyphicon glyphicon-chevron-right"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div><!--blueimp-gallery-->
    
    <!-- *****CONFIGURE STYLE (REMOVE ON YOUR PRODUCTION SITE)****** -->  
    <div id="config-panel" class="config-panel hidden-xs hidden-sm">
        <div class="panel-inner">
            <a id="config-trigger" class="config-trigger config-panel-hide" href="#"><i class="fa fa-cog"></i></a>
            <h5 class="panel-title">Choose Colour</h5>
            <ul id="color-options" class="list-unstyled list-inline">
                <li class="theme-1 active"><a data-style="/assets/styles.css" data-logo="/assets/logo.svg" href="#"></a></li>
                <li class="theme-2"><a data-style="/assets/styles-2.css" data-logo="/assets/logo-2.svg" href="#"></a></li>
                <li class="theme-3"><a data-style="/assets/styles-3.css" data-logo="/assets/logo-3.svg" href="#"></a></li>
                <li class="theme-4"><a data-style="/assets/styles-4.css" data-logo="/assets/logo-4.svg" href="#"></a></li>
                <li class="theme-5"><a data-style="/assets/styles-5.css" data-logo="/assets/logo-5.svg" href="#"></a></li>
                <li class="theme-6"><a data-style="/assets/styles-6.css" data-logo="/assets/logo-6.svg" href="#"></a></li>

            </ul>
            <a id="config-close" class="close" href="#"><i class="fa fa-times-circle"></i></a>
        </div><!--//panel-inner-->
    </div><!--//configure-panel-->
 
    <!-- Main Javascript -->          
    <script type="text/javascript" src="/assets/jquery-1.12.3.min.js"></script>
    <!--<script type="text/javascript" src="/assets/bootstrap.min.js"></script>-->
    <script type="text/javascript" src="/assets/jquery.scrollTo.min.js"></script>
    <script type="text/javascript" src="/assets/jquery.matchHeight-min.js"></script>
    <script type="text/javascript" src="/assets/jquery.validate.min.js"></script>
    <script type="text/javascript" src="/assets/jquery.inview.min.js"></script>
    <script type="text/javascript" src="/assets/isMobile.min.js"></script>
    <script type="text/javascript" src="/assets/back-to-top.js"></script>
    <script type="text/javascript" src="/assets/owl.carousel.min.js"></script>
    <script type="text/javascript" src="/assets/blueimp-gallery.min.js"></script>
    <script type="text/javascript" src="/assets/bootstrap-image-gallery.min.js"></script>
    <script type="text/javascript" src="/assets/ajax-form.js"></script> 
    <script type="text/javascript" src="/assets/main.js"></script> 
    
    <!--[if !IE]>-->
    <script type="text/javascript" src="/assets/animations.js"></script> 
    <!--<![endif]--> 
        
    <!-- Style Switcher (REMOVE ON YOUR PRODUCTION SITE) -->
    <script src="/assets/style-switcher.js"></script>

    

